
    <!-- Grid Section -->
    <section id="schedule">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>2021 Results</h2>
                    <hr class="star-primary" />
                </div>
            </div>

            <div class="portfolio-flex-row">
              <p>
                <ul>
                {% for t in site.data.2021.tournaments %}
                  <li>
                    {{ t.date }} -                    
                    <a target="_blank" 
                      rel="noopener noreferrer" 
                      data-toggle="modal" data-target="#{{ t.id }}-2021">
                      {{ t.lake }}
                                          </a>
                  </li>
                {% endfor %}
                </ul>
              </p>
            </div>

            <div class="col-lg-12 text-center">
              <p>
                <a target="_blank"
                   rel="noopener noreferrer"
                   data-toggle="modal"
                   data-target="#standings-2021">
                Angler Of The Year Points Standings
                </a>
              </p>
            </div>
        </div>
    </section>

<!-- Standings 2021 -->
<div class="modal fade" id="standings-2021" role="dialog" aria-labelledby="points standings" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Angler Of The Year Standings</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-condensed table-striped small">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Points</th>
                  <th>Tournaments</th>
                </tr>
              </thead>
              {% for results in site.data.2021.standings %}
                <tr>
                  <td>{{ results.name }}</td>
                  <td>{{ results.points }}</td>
                  <td>{{ results.tournaments }}</td>
                </tr>
              {% endfor %}
            </table>
                  <p>
                    Big bass of the year - Harley E.  <br/>
4.50 lb largemouth at Lake Montanis
                  </p>

                  <small>
Each tournament calculates points as follows: 
(# of competitors / 2.718281828) + 4 minus your place finished in the tournament
plus (1.5 for 1st, 1.0 for 2nd, 0.5 for third) + 1.0 for big bass. 
You are guaranteed at least 1.0 point for showing up to a tournament. 
If you catch at least one scorable bass you are guaranteed 2.0 points minimum. 
Each competitor was able to drop their lowest two tournaments of the year.
                  </small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% for t in site.data.2021.tournaments %}
        <div class="modal fade" id="{{ t.id }}-2021" role="dialog" aria-labelledby="{{ t.lake }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">{{ t.lake }} Tournament</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>{{ t.date }} - {{ t.lake }}</p>
                                <p>Results</p>
                                <table class="table table-condensed table-striped">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Fish</th>
                                      <th>Weight</th>
                                      <th>Points</th>
                                    </tr>
                                  </thead>
                                  
      {% for results in t.results %}
        <tr>
          <td>{{ results.name }}</td>
          <td>{{ results.fish }}</td>
          <td>{{ results.weight }}</td>
          <td>{{ results.points }}</td>
        </tr>
      {% endfor %}
                                </table>
                                <p>
             {{ t.big_bass}} 
                                </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
  
{% endfor %}

