
    <!-- Grid Section -->
    <section id="schedule">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>2022 Results</h2>
                    <hr class="star-primary" />
                </div>
            </div>

            <div class="portfolio-flex-row">
              <p>
                <ul>
                {% for t in site.data.2022.tournaments %}
                  <li>
                    {{ t.date }} -                    
                    <a target="_blank" 
                      rel="noopener noreferrer" 
                      data-toggle="modal" data-target="#{{ t.id }}-2022">
                      {{ t.lake }}
                                          </a>
                  </li>
                {% endfor %}
                
                  <li class="page-scroll">
                    Saturday Sept 10th - 
                    <a target="_blank"
                       rel="noopener noreferrer" 
                       data-toggle="modal" data-target="#long-lake-2022">
                      Long Lake Championship
                    </a>
                  </li>
                </ul>
              </p>
            </div>

            <div class="col-lg-12 text-center">
              <p>
                <a target="_blank"
                   rel="noopener noreferrer"
                   data-toggle="modal"
                   data-target="#standings-2022">
                Angler Of The Year Points Standings
                </a>
              </p>
            </div>
        </div>
    </section>

<!-- Standings 2022 -->
<div class="modal fade" id="standings-2022" role="dialog" aria-labelledby="points standings" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Angler Of The Year Standings</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-condensed table-striped small">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Points</th>
                  <th>Tournaments</th>
                </tr>
              </thead>
              {% for results in site.data.2022.standings %}
                <tr>
                  <td>{{ results.name }}</td>
                  <td>{{ results.points }}</td>
                  <td>{{ results.tournaments }}</td>
                </tr>
              {% endfor %}
            </table>
                  <p>
                    Big bass of the year - Harley E.  <br/>
3.81 lb smallmouth at Dells Pond
                  </p>
                  <small>
                    {% include points_explanation.html %}
                  </small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% for t in site.data.2022.tournaments %}
        <div class="modal fade" id="{{ t.id }}-2022" role="dialog" aria-labelledby="{{ t.lake }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">{{ t.lake }} Tournament</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>{{ t.date }} - {{ t.lake }}</p>
                                <p>Results</p>
                                <table class="table table-condensed table-striped">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Fish</th>
                                      <th>Weight</th>
                                      <th>Points</th>
                                    </tr>
                                  </thead>
                                  
      {% for results in t.results %}
        <tr>
          <td>{{ results.name }}</td>
          <td>{{ results.fish }}</td>
          <td>{{ results.weight }}</td>
          <td>{{ results.points }}</td>
        </tr>
      {% endfor %}
                                </table>
                                <p>
             {{ t.big_bass}} 
                                </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
  
{% endfor %}

<div class="modal fade" id="long-lake-2022" role="dialog" aria-labelledby="long lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Long Lake - Championship Cup</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <p> Saturday September 10th - Long Lake</p>
        <p>
          Qualifying round - 8:00 to 11:00
          <br/>
          Championship round - 12:30 to 3:30
        </p>
        <p>
          Results of Championship round:
        </p>
                      <pre>
Name       Fish   Weight   
Joey E.     4     5.57 lbs 
Anthony E.  2     2.75 lbs
Dan J.      0     0.00 lbs (won tie breaker)
Justin B.   0     0.00 lbs
                      </pre>    
                      <p>
                        Results of Qualifying round:
                      </p>
                      <pre>
Target weight: 5 lbs
Name       Fish   Weight   
Anthony E.  3     5.50 lbs
Dan J.      4     5.96 lbs 
Joey E.     2     4.06 lbs 
Justin B.   2     3.38 lbs
------- Cut Line ---------
Harley E.   2     3.20 lbs
Tony E.     2     2.79 lbs 
Cael H.     0     0.00 lbs
Josh V.     0     0.00 lbs
                      </pre>    
<pre>
Big bass 2.56 lbs (Joey E.)
</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



