 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How it all works</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <p>
                      My boys and I have been experimenting with a 
                      <a target="_blank" rel="noopener noreferrer"
                        href="https://en.wikipedia.org/wiki/Major_League_Fishing">
                      Major League Fishing 
                      </a>
                      style bass fishing tournament and would like to try it out. 
                      With this format there is a lot more camaraderie than other types of fishing 
                      tournaments and want to keep it focused on Christian fellowship. 
                      There will be a nice long lunch break between period 1 and 2 where we can socialize.

                      If you've seen MLF on the Outdoor channel you already know what we are going for. 
                      Making the MLF style format more accessible to weekend anglers is our goal, 
                      and we think it can work.

                      We trust everyone and we use the honor system when reporting a catch. You simply 
                      text the weight of your fish to the tournament specific phone number, and voila!
                      You have recorded your catch and a leaderboard update is sent to the other competitors.
                      It's very interactive and gets the competitors really energized (or demoralized)
                      knowing that someone is out there catching 🐟.
                  </p>
                </div>
            </div>
        </div>
    </section>

