 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What we are about</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>When I was a senior in high school I joined a Christian bass fishing
                  club in Idaho. After moving to Wisconsin my Dad and I joined a local bass fishing
                  club in the area. I've stopped</p>
                </div>
                <div class="col-lg-4">
                    <p>Fishing and Christian fellowship with and added competitive flare, that's
                    what we are about. </p>
                </div>
            </div>
        </div>
    </section>
