 <!-- Contact Section -->
    <section class="white" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>{{ site.nav_contact }}</h2>
                  <hr class="star-primary"/>
                  <p>
                    If you are interested in one of the tournaments then 
                    please get in touch via email: 
                    <br/>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                  </p>
                </div>
            </div>
        </div>
    </section>
