<!-- Header -->
<header>
    <div class="container">
        <div class="row" id="live-header">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/cv-mlf.png" alt="profile-pic" width="300px" />
                <div class="intro-text">
                    <hr class="star-light" />
                </div>
                <p>We are a Christian bass fishing club with a Major League Fishing format.</p>
                <p>Canoe, kayak, raft, or sure... a bass boat, that works too!</p>
                <br />
                <p>The 2025 season is in the books!</p>
                <p>Congratulations to Charlie for winning Angler of the Year<br/>
                  and to Joey for winning the Championship Cup!
                </p>
            </div>
        </div>
    </div>
</header>

