<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">        
        <img class="img-responsive" src="img/cv-mlf.png" alt="profile-pic" />
        <div class="intro-text">
          <hr class="star-light" />
        </div>
        <p>A Christian bass fishing club with a Major League Fishing format</p>
        <p>Canoe, kayak, float tube, or sure... a regular boat, that works too!</p>
        <p>It's all about the fun, so come learn to fish, or show off your already major league level bass fishing skills.</p>
      </div>
    </div>
  </div>
</header>
