<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">        
        <p>
          The 2022 season is at a close and it was a great year!
          <br/>
          Congrats to Joey E. for winning the first ever CVMLF Championship!
          <br/>
          Congrats to Harley E. for another Angler of the Year title and Big Bass of the Year!
          <br/>
          <br/>
        </p>
        <img class="img-responsive" src="img/cv-mlf.png" alt="profile-pic" />
        <div class="intro-text">
          <hr class="star-light" />
        </div>
        <p>We are a Christian bass fishing club with a Major League Fishing format.</p>
        <p>Canoe, kayak, float tube, or sure... a regular boat, that works too!</p>
        <br/>
      </div>
    </div>
  </div>
</header>
