
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="blue">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>{{ site.nav_rules }}</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p align="left">
                <ul>
                  <li>Rule number one</li>
                </ul>
              </p>
            </div>
        </div>
    </section>
