
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="blue">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>{{ site.nav_rules }} and format</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p class="medium">
                <ol>
                  <li> 
                    A cell phone is required for each competitor. Competitors may share a cell phone number when in the same boat.
                    Score tracker updates will be delivered in real time throughout the tournament.
                  </li>
                  <li>Every fish must be weighed using a digital scale and submitted immediately to the score tracker.</li>
                  <li>Your score will be the total weight of all fish submitted to score tracker. 
                    <br/>
                    Some tournaments have a limit where only the largest X number of fish are scored.</li>
                  <li>Largemouth and smallmouth bass are the target fish. 
                    <br/>
                    A scoreable bass needs to weigh at least 1 pound (unless it is a limit tournament).
                  </li>
                  <li>
                    Nets are allowed when landing fish.
                  </li>
                  <li>No Wake
                    <br/> 
                      Bring any type of boat from kayaks to bass boats but if you 
                      have a gas engine you can only use it at no wake speeds. 
                      This keeps things more even for those in kayaks, canoes or rafts.
                    <br/>
                      The no wake rule does NOT apply to end of period or end of tournament travel back to the landing.   
                  </li>
                  <li>
                    Artificial lures only.
                  </li>
                  <li>
                    There will be 2 periods with a lunch break between period 1 and 2. 
                  </li>                  
                  <li>
                    Competitors are allowed 15 minutes to explore the lake before
                    the first period begins. No fishing is allowed until the period starts.
                  </li>
                  <li>
                    A fish must be landed before the end of the period in order to score.
                    There will be a 2 minute grace period after "lines out" where a bass can still be entered.
                  </li>
                  <li>
                    Competitors may not fish the tournament lake the week before the tournament.
                  </li>
                  <li>
                    Competitors are allowed to leave their boats to fish from shore when desired and where appropriate.
                  </li>
                </ol>
              </p>
            </div>
            <br/>
            <br/>
            <div id="championship-rules" class="row">
                <div class="col-lg-12 text-center">
                  <h2>CVMLF Championship</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p class="medium">
                <ul>
                  <li>
                    The last tournament of the year is the CVMLF Championship. Club members need to qualify for this event in one of the following ways:
                      <ul>
                        <li>
                          The top finisher (who has not already qualified) from each of the five tournaments 
                        </li>
                        <li>
                          The top three anglers (who have not already qualified) in the point standings after five tournaments. 
                        </li>
                        <li>
                          Any angler who has fished in all five regular season tournaments will automatically qualify.
                        </li>
                      </ul>
                  </li>
                </ul>
                  <ul>
                    <li>
                      The championship is different from a regular season tournament in the following ways: 
                      <ul>
                        <li>Period 1 is an elimination round where half of the anglers will be eliminated.</li>
                        <ul><li>For example, if there are 9 competitors 5 would be eliminated. With 12, 6 would.</li></ul> 
                        <li>The elimination round will have a target weight, where once an angler reaches the target weight 
                          they automatically advance to the championship round.</li>
                        <li>Period 2 is the championship round and begins with all weights set to zero</li>
                        <li>Special rules when too many anglers are tied at zero after the elimination round:</li>
                        <ul>
                          <li class='small'>
                            In the event that only a few anglers catch fish and there is a tie at zero for qualifying for the 
                            championship round,
                            all competitors will move on to the championship round. However, the anglers that qualified for period 2 
                            legitimately will have an advantage in that they will be able to start scoring fish immediately. 
                            All other anglers will still be fishing to qualify for the championship round. 
                            For example, if there are two spots open, the next two anglers to catch a fish will get those two spots, etc.
                            After the number of qualifying spots is filled up, the other competitors are immediately eliminated.
                            The fish that is caught to qualify does NOT count toward the championship round weight, 
                            and it will be as if the angler caught it in elimination round. 
                            The next fish the angler catches will start counting toward the championship round.
                            However, any big bass that is caught still counts toward the big bass award just like it would have
                            been in the elimination round.
                          </li>
                        </ul> 
                      </ul>
                    </li>
                  </ul>  
                  <ul>
                    <li>
                      Awards will be given out to the top three finishers in the championship as well as the big bass of the tournament. 
                    </li>
                  </ul>  
              </p>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>Special Awards</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p class="medium">
                <ul>
                  <li>
                    Angler Of The Year - awarded to the angler who leads the points standings at the end of the five regular season tournaments
                  </li>
                    <ul>
                        <li class="small">
Points are calculated as follows: 
(# of competitors / 2.718281828) + 4
minus your place finished in the tournament
plus (1.5 for 1st, 1.0 for 2nd, 0.5 for third) + 1.0 for big bass. 
You are guaranteed at least 1.0 point for showing up to a tournament 
and 2.0 points if you catch at least one scorable fish. 
<br/>
Each competitor will drop their lowest {{ include.drops }} scoring tournament of the year.
                        </li>
                    </ul>
                  <li>
                    Big Bass Of The Year - awarded to the angler who catches the single biggest bass of the five regular season tournaments
                  </li>
                </ul>
              </p>
            </div>
        </div>
    </section>

