
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="blue">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>{{ site.nav_rules }} and format</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p class="medium">
                <ol>
                  <li> 
                    A cell phone is required for each competitor. Competitors may share a cell phone number when in the same boat.
                    Score tracker updates will be delivered in real time throughout the tournament.
                  </li>
                  <li>Every fish must be weighed and submitted to the score tracker immediately using a digital scale.</li>
                  <li>Your score will be the total weight of all fish submitted to score tracker (no limit).</li>
                  <li>Largemouth and smallmouth bass are the target fish. 
                    A scoreable bass needs to weigh at least 1 pound. 
                  </li>
                  <li>
                    Nets are allowed when landing fish.
                  </li>
                  <li>No Wake
                    <br/> 
                      Bring any type of boat from kayaks to bass boats but if you 
                      have a gas engine you can only use it at no wake speeds. 
                      This keeps things more even for those in kayaks or canoes.
                  </li>
                  <li>
                    Artificial lures only.
                  </li>
                  <li>
                    There will be 2 periods with a lunch break between period 1 and 2. 
                  </li>                  
                  <li>
                    Competitors are allowed 15 minutes to explore the lake before
                    each period begins. No fishing is allowed until the period starts.
                  </li>
                  <li>
                    A fish must be landed before the end of the period in order to score.
                    There will be a 2 minute grace period after "lines out" where a bass can still be entered.
                  </li>
                  <li>
                    Competitors may not fish the tournament lake the week before the tournament.
                  </li>
                  <li>
                    Competitors are allowed to leave their boats to fish from shore when desired and where appropriate.
                  </li>
                </ol>
              </p>
            </div>
            <br/>
            <br/>
            <div id="championship-rules" class="row">
                <div class="col-lg-12 text-center">
                  <h2>CVMLF Championship</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p class="medium">
                <ul>
                  <li>
                    The last tournament of the year is the CVMLF Championship. Club members need to qualify for this event in one of the following ways:
                      <ol>
                        <li>
                          The top finisher (who has not already qualified) from each of the five tournaments 
                        </li>
                        <li>
                          The top three anglers (who have not already qualified) in the point standings after five tournaments. 
                        </li>
                        <li>
                          Any angler who has fished in all five regular season tournaments will automatically qualify.
                        </li>
                      </ol>
                  </li>
                </ul>
                  <ul>
                    <li>
                      The championship is different than a regular season tournament in the following ways: 
                      <ol>
                        <li>Period 1 is an elimination round where half of the anglers will be eliminated</li>
                        <li>The elimination round will have a target weight, where once an angler reaches the target weight they automatically advance to the championship round.</li>
                        <li>Period 2 is the championship round and begins with all weights set to zero</li>
                      </ol>
                    </li>
                  </ul>  
                  <ul>
                    <li>
                      Awards will be given out to the top three finishers in the championship as well as the big bass of the tournament. 
                    </li>
                  </ul>  
              </p>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>Special Awards</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p class="medium">
                <ul>
                  <li>
                    Angler Of The Year - awarded to the angler who leads the points standings at the end of the five regular season tournaments
                  </li>
                  <li>
                    Big Bass Of The Year - awarded to the angler who catches the single biggest bass of the five regular season tournaments
                  </li>
                </ul>
              </p>
            </div>
        </div>
    </section>

