
    <!-- Portfolio Grid Section -->
    <section id="schedule">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>{{ site.nav_schedule }}</h2>
                    <hr class="star-primary" />
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p>
                <ul>
                  <li>Saturday June 20th at Half Moon Lake</li>
                  <li>Saturday July 20th at Cornell Lake</li>
                </ul>
              </p>
            </div>
        </div>
    </section>

