
    <!-- Portfolio Grid Section -->
    <section id="schedule">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>{{ site.nav_schedule }}</h2>
                    <hr class="star-primary" />
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p>
                <ul>
                  <li>
                    Saturday May 8th - Lake Montanis
                  </li>
                  <li>
                    Saturday June 12th - <a target="_blank" rel="noopener noreferrer" href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2171000">
                                             Cornell Lake
                                          </a>
                  </li>
                  <li>
                    Saturday July 17 - TBD
                   <!-- <a target="_blank" rel="noopener noreferrer" href="https://dnr.wi.gov/lakes/LakePages/LakeDetail.aspx?wbic=2098000">
                    Poskin Lake
                   </a>-->
                  </li>
                  <li>
                    More ?? (depending on interest)
                  </li>
                </ul>
              </p>
            </div>
        </div>
    </section>

