
    <!-- Grid Section -->
    <section id="schedule">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>{{ site.nav_schedule }}</h2>
                    <hr class="star-primary" />
                    <p>2022</p>
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p>
                <ul>
                  <li>
                    Saturday April 30th -                    
                    <a target="_blank" 
                      rel="noopener noreferrer" 
                      data-toggle="modal" data-target="#halfmoon-2022">
                      Halfmoon Lake
                                          </a>
                  </li>
                  <li>
                    Saturday May 14th - 
                    <a target="_blank" 
                      rel="noopener noreferrer" 
                      data-toggle="modal" data-target="#round-2022">
                    Round Lake
                    </a>
                  </li>
                  <li>
                    Saturday June 18th - Cornell Lake
                    <a href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2171000"
                       target="_blank"
                       rel="noopener noreferrer"
                       >DNR Info</a>
                  </li>
                  <li>
                    Saturday July 23rd - Dells Pond
                    <a href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2149900"
                       target="_blank"
                       rel="noopener noreferrer"
                       >DNR Info</a>
                  </li>
                  <li>
                    Saturday August 20st - Silver Lake
                    <a href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=1881100"
                       target="_blank"
                       rel="noopener noreferrer"
                       >DNR Info</a>
                  </li>
                  <li class="page-scroll">
                    Saturday Sept 10th - <a href="#championship-rules">CVMLF Championship</a>
                    <br/>
                    &nbsp; &nbsp; &nbsp; on Long Lake
                    <a href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2351400"
                       target="_blank"
                       rel="noopener noreferrer"
                       >DNR Info</a>
                    <br/>
                  </li>
                </ul>
              </p>
            </div>
            <div class="col-lg-12 text-center">
              <p>
                <a target="_blank"
                   rel="noopener noreferrer"
                   data-toggle="modal"
                   data-target="#standings_2022">
                Angler Of The Year Points Standings
                </a>
              </p>
            </div>


            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="star-primary" />
                    <p>2021</p>
                </div>
            </div>
            <div class="portfolio-flex-row">
              <p>
                <ul>
                  <li>
                    Saturday May 8th -                    
                    <a target="_blank" 
                      rel="noopener noreferrer" 
                      data-toggle="modal" data-target="#montanis">
                      Lake Montanis
                                          </a>
                  </li>
                  <li>
                    Saturday June 12th - 
                    <a target="_blank" 
                      rel="noopener noreferrer" 
                      data-toggle="modal" data-target="#cornell">
                                             Cornell Lake
                                          </a>
                  </li>
                  <li>
                    Saturday July 17th - 
                    <a target="_blank"
                       rel="noopener noreferrer"
                       data-toggle="modal"
                       data-target="#halfmoon">Halfmoon Lake</a>
                  </li>
                  <li>
                    Saturday July 31st - 
                    <a target="_blank"
                       rel="noopener noreferrer"
                       data-toggle="modal"
                       data-target="#amacoy">Amacoy Lake</a>
                  </li>
                  <li>
                    Saturday August 21st -  
                    <a target="_blank"
                       rel="noopener noreferrer"
                       data-toggle="modal"
                       data-target="#silver">Silver Lake</a>

                  </li>
                </ul>
              </p>
            </div>
            <div class="col-lg-12 text-center">
              <p>
                <a target="_blank"
                   rel="noopener noreferrer"
                   data-toggle="modal"
                   data-target="#standings">
                Angler Of The Year Points Standings
                </a>
              </p>
            </div>
            
        </div>
    </section>

<!-- Standings 2022 -->
<div class="modal fade" id="standings_2022" role="dialog" aria-labelledby="points standings 2022" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Angler Of The Year Standings</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <p>
                <br/>
                Angler Of The Year Points Standings
                <br/>
                  <pre>
Name        Points    Tournaments
*Justin B.  16.30         2  
Dan J.      13.30         2
*Tony E.    12.80         2
Jeremiah B.  9.15         2
Harley E.    7.65         2
Josh V.      6.15         2
Joey E.      5.15         2
Anthony E.   4.15         2
Caleb G.     2.00         2
Charlie V.   2.00         2
Abby G.      2.00         2
Fred W.      2.00         2
Caleb S.     2.00         2
Matt V.      2.00         2
Justin S.    1.00         1
                  </pre>
                  Each tournament calculates points as follows:
                <br/>(# of competitors / 2.718281828) + 4 - &lt;place finished in the tournament&gt; 
                <br/>plus (1.5 for 1st, 1.0 for 2nd, 0.5 for third) + 1.0 for big bass.
                </br>
                You are guaranteed at least 1.0 point for showing up to a tournament.
                </br>
                If you catch at least one scorable bass you are guaranteed 2.0 points minimum.
                  </br>
                  Each competitor is able to drop their lowest tournament of the year.
                  </br>
                  </br>
                    * Qualified for CVMLF Championship
              </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Standings 2021 -->
<div class="modal fade" id="standings" role="dialog" aria-labelledby="points standings" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Angler Of The Year Standings</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <p>
                <br/>
                Angler Of The Year Points Standings
                <br/>
                  <pre>
Name        Points    Tournaments
Harley E.   25.43         5
Tony E.     22.64         5
Dan J.      15.30         4
Justin B.   12.73         2
Anthony E.  10.70         5
Joey E.      9.59         4
Scott C.     3.41         1
Dave B.      3.05         2
Tim I.       2.41         1
Carsen C.    2.00         2
Jed B.       2.00         2
Kaden C.     2.00         2
Ezekiel I.   1.41         1
Charlie V.   1.00         1
Jed I.       1.00         1
Josh V.      1.00         1
Justin S.    1.00         1
Malachi I.   1.00         1
Will A.      1.00         1

Big bass of the year 4.5 lbs (Harley E.)
                  </pre>
                  Each tournament calculates points as follows:
                <br/>(# of competitors / 2.718281828) + 4 - &lt;place finished in the tournament&gt; 
                <br/>plus (1.5 for 1st, 1.0 for 2nd, 0.5 for third) + 1.0 for big bass.
                </br>
                You are guaranteed at least 1.0 point for showing up to a tournament.
                  </br>
                  In 2021, each competitor was able to drop their lowest two tournaments of the year.
              </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Montanis -->
<div class="modal fade" id="montanis" role="dialog" aria-labelledby="montanis lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Lake Montanis Tournament</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Saturday May 8th - Lake Montanis</p>
                    <p>Results</p>
                    <pre>
Name       Fish  Weight   Points
Harley E.  2     6.00 lbs  7.34
Dan J.     2     5.13 lbs  4.84
Tony E.    1     1.70 lbs  3.34
Anthony E. 0     0.00 lbs  1.00
Joey E.    0     0.00 lbs  1.00

Big bass 4.5 lbs (Harley E.)
                    </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Cornell -->
<div class="modal fade" id="cornell" role="dialog" aria-labelledby="cornell lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="cornellTitle">Cornell Lake Tournament</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Saturday June 12th - Cornell Lake </p>
                      <p>
                        Period 1 - 8:30 am to 11:30 am
                        <br/>
                        Period 2 - 1:00 pm to 3:00 pm
                      </p>
                      <p>
                        Results:
                      </p>
                      <pre>
Name       Fish   Weight   Points
Tony E.    4      6.62 lbs  8.55
Justin B.  4      6.18 lbs  7.55
Dan J.     3      5.30 lbs  6.05
Anthony E. 2      4.63 lbs  4.05
Harley E.  3      3.20 lbs  3.05
Dave B.    1      1.70 lbs  2.05
Jed B.     0      0.00 lbs  1.00
Kaden C.   0      0.00 lbs  1.00
Carsen C.  0      0.00 lbs  1.00
Will A.    0      0.00 lbs  1.00
Justin S.  0      0.00 lbs  1.00

Big bass 3.06 lbs (tie between Dan J. and Justin B.)
                      </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Halfmoon 2022 -->
<div class="modal fade" id="halfmoon-2022" role="dialog" aria-labelledby="halfmoon lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Halfmoon Lake</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Saturday April 30th - Halfmoon Lake </p>
                      <p>
                        Period 1 - 9:00 am to 11:30 am
                        <br/>
                        Period 2 - 1:00 pm to 4:00 pm
                      </p>
                      <p>
                        Results:
                      </p>
                      <pre>
Name       Fish   Weight      Points
Tony E.     2     2.94 lbs    10.65
Dan J.      1     1.65 lbs     8.15
Justin B.   1     1.50 lbs     6.65
Josh V.     1     1.32 lbs     5.15
Justin S.   0     0.00 lbs     1.00
Matt V.     0     0.00 lbs     1.00
Caleb S.    0     0.00 lbs     1.00
Fred W.     0     0.00 lbs     1.00
Abby G.     0     0.00 lbs     1.00
Anthony E.  0     0.00 lbs     1.00
Caleb G.    0     0.00 lbs     1.00
Joey E.     0     0.00 lbs     1.00
Harley E.   0     0.00 lbs     1.00
Charlie V.  0     0.00 lbs     1.00

Big bass 1.69 lbs (Tony E.)
                      </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Round Lake 2022 -->
<div class="modal fade" id="round-2022" role="dialog" aria-labelledby="round lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Round Lake</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Saturday May 14th - Round Lake </p>
                      <p>
                        Period 1 - 8:30 am to 11:30 am
                        <br/>
                        Period 2 - 1:00 pm to 3:30 pm
                      </p>
                      <p>
                        Results:
                      </p>
                      <pre>
Name       Fish   Weight      Points
Justin B.   6     8.80 lbs     9.65
Jeremiah B. 6     8.39 lbs     9.15
Harley E.   3     5.19 lbs     6.65
Dan J.      2     2.86 lbs     5.15
Joey E.     2     2.00 lbs     4.15
Anthony E.  1     1.94 lbs     3.15
Tony E.     1     1.06 lbs     2.15
Fred W.     0     0.00 lbs     1.00
Abby G.     0     0.00 lbs     1.00
Matt V.     0     0.00 lbs     1.00
Charlie V.  0     0.00 lbs     1.00
Caleb G.    0     0.00 lbs     1.00
Caleb S.    0     0.00 lbs     1.00
Josh V.     0     0.00 lbs     1.00

Big bass 2.31 lbs (Jeremiah B.)
                      </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

<!-- Halfmoon -->
<div class="modal fade" id="halfmoon" role="dialog" aria-labelledby="halfmoon lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Halfmoon Lake</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Saturday July 17th - Halfmoon Lake </p>
                      <p>
                        Period 1 - 8:30 am to 11:30 am
                        <br/>
                        Period 2 - 1:00 pm to 3:00 pm
                      </p>
                      <p>
                        Results:
                      </p>
                      <pre>
Name       Fish   Weight   Points
Harley E.  3      4.30 lbs  8.91
Tony E.    3      4.05 lbs  7.41
Joey E.    2      3.40 lbs  6.91
Dan J.     2      2.23 lbs  4.41
Scott C.   1      1.90 lbs  3.41
Tim I.     1      1.38 lbs  2.41
Ezekiel I. 1      1.06 lbs  1.41
Anthony E. 0      0.00 lbs  1.00
Carsen C.  0      0.00 lbs  1.00
Jed I.     0      0.00 lbs  1.00
Kaden C.   0      0.00 lbs  1.00
Malachi I. 0      0.00 lbs  1.00

Big bass 2.3 lbs (Joey E.)
                      </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Amacoy -->
<div class="modal fade" id="amacoy" role="dialog" aria-labelledby="amacoy lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Amacoy Lake</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Saturday July 31st - 
                    <a target="_blank" href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2359700">
                                             Amacoy Lake
                                          </a>
                     <p>
                        Period 1 - 8:30 am to 11:30 am
                        <br/>
                        Period 2 - 1:00 pm to 3:00 pm
                      </p>
                      <p>
                        Results:
                      </p>
                      <pre>
Name       Fish   Weight   Points
Harley E.  2      3.38 lbs  6.97
Tony E.    1      1.69 lbs  4.47
Anthony E. 1      1.40 lbs  2.97
Joey E.    0      0.00 lbs  1.00

Big bass 1.94 lbs (Harley E.)</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Silver -->
<div class="modal fade" id="silver" role="dialog" aria-labelledby="silver lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Silver Lake</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Saturday August 21st - 
                    <a target="_blank" href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=1881100">
                                             Silver Lake
                                          </a>
        </p>
                     <p>
                        Period 1 - 8:30 am to 11:30 am
                        <br/>
                        Period 2 - 1:00 pm to 3:00 pm
                      </p>
                      <pre>
Name       Fish   Weight    Points
Harley E.  5      10.57 lbs  9.18
Tony E.    8      10.32 lbs  6.68
Justin B.  6      7.00 lbs   5.18
Anthony E. 5      5.31 lbs   3.68
Dan J.     2      5.24 lbs   2.68
Joey E.    4      4.90 lbs   1.68
Charlie V. 2      2.19 lbs   1.00
Dave B.    1      1.40 lbs   1.00
Josh V.    1      1.06 lbs   1.00
Jed B.     0      0.00 lbs   1.00

Big bass 3.69 lbs (Harley E.)
                      </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
