<div class="modal fade" id="long-lake-2022" role="dialog" aria-labelledby="long lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Long Lake Championship</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Saturday September 10th - Long Lake</p>
                      <p>
                        Arrive between 7:00 and 7:30
                        <br/>
                        Pre-launch meeting: 7:30
                        <br/>
                        Lake Scouting: 7:45
                        <br/>
                        Qualifying round - 8:00 to 11:00
                        <br/>
                        Championship round - 12:30 to 3:30
                        <br/>
                        Awards around 4:00
                      </p>
                      <p>
                        <a href="https://www.google.com/maps/place/45°15'15.8%22N+91°24'43.3%22W/@45.25438,-91.4142187,839m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0xf4872558cfaed889!8m2!3d45.25438!4d-91.41203?hl=en"
                           target="_blank"
                           rel="noopener noreferrer">
                          Boat Landing
                        </a>
                      </p>
                      <p>
                        <a href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2351400"
                           target="_blank"
                           rel="noopener noreferrer"
                       >DNR Lake Info</a> 
                      </p>
                      <p>
                        <a href="https://webapp.navionics.com/?lang=en#boating@12&key=qwdsGzyzlP"
                           target="_blank"
                           rel="noopener noreferrer">
                          Online Lake Map
                        </a>
                      </p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

