<div class="modal fade" id="long-lake-2022" role="dialog" aria-labelledby="long lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Long Lake Championship</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Saturday September 10th - Long Lake</p>
                      <p>
                        Qualifying round - 8:00 to 11:00
                        <br/>
                        Championship round - 12:30 to 3:30
                      </p>
                      <p>
                        Results of Championship round:
                      </p>
                      <pre>
Name       Fish   Weight   
Joey E.     4     5.57 lbs 
Anthony E.  2     2.75 lbs
Dan J.      0     0.00 lbs (won tie breaker)
Justin B.   0     0.00 lbs
                      </pre>    
                      <p>
                        Results of Qualifying round:
                      </p>
                      <pre>
Target weight: 5 lbs
Name       Fish   Weight   
Anthony E.  3     5.50 lbs
Dan J.      4     5.96 lbs 
Joey E.     2     4.06 lbs 
Justin B.   2     3.38 lbs
------- Cut Line ---------
Harley E.   2     3.20 lbs
Tony E.     2     2.79 lbs 
Cael H.     0     0.00 lbs
Josh V.     0     0.00 lbs
                      </pre>    
<pre>
Big bass 2.56 lbs (Joey E.)
</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

