<div class="modal fade" id="silver-lake-2022" role="dialog" aria-labelledby="silver lake" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Silver Lake</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Saturday August 20th - Silver Lake</p>
                      <p>
                        Arrive between 7:00 and 7:30
                        <br/>
                        Pre-launch meeting: 7:30
                        <br/>
                        Lake Scouting: 7:45
                        <br/>
                        Period 1 - 8:00 to 11:00
                        <br/>
                        Period 2 - 12:30 to 3:00
                        <br/>
                        Awards around 3:30
                      </p>
                      <p>
                        <a href="http://maps.google.com/maps?q=45.572792,+-91.921814&hl=en&sll=45.572792,-91.921814&sspn=0.462242,0.88028&t=h&z=16"
                           target="_blank"
                           rel="noopener noreferrer">
                          Boat Landing
                        </a>
                      </p>
                      <p>
                        <a href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=1881100"
                           target="_blank"
                           rel="noopener noreferrer"
                       >DNR Lake Info</a> 
                      </p>
                      <p>
                        <a href="https://webapp.navionics.com/?lang=en#boating@12&key=%7BpeuGhbapP"
                           target="_blank"
                           rel="noopener noreferrer">
                          Online Lake Map
                        </a>
                      </p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

